*{
    margin: 0px;
    padding: 0px;
    /*background-color: black;*/
}
#container{
    background-color: rgb(33, 81, 115);
@@ -58,7 +57,6 @@
    color: rgb(205, 205, 205);
    text-align: center;
    box-shadow:2px 2px 2px 2px rgb(215, 215, 215) inset;
    /*margin-top: 5px;*/
}
#search_input p{
    margin-top: 7px;
@@ -75,7 +73,6 @@
    border: 3px solid rgb(108, 108, 108);
    border-radius: 8px;
    box-shadow:1px 1px black;
    /*margin-top: 5px;*/
}
#search_button p{
    margin-top: 2px;
@@ -163,7 +160,6 @@
    padding-left: 100px;
}
.body_two_column{
    /*border: black 3px solid;*/
    display: inline-block;
    height: 210px;
    width: 400px;
@@ -189,17 +185,13 @@
    margin-left: 40px;
}
.body_two_column_details li{
    /*color: rgb(135, 179, 216);*/
    /*list-style-type: square;*/
    width: 200px;
    font-size: 14px;
}
.blue_details{
    color: rgb(135, 179, 216);
    /*font-size: 10px;*/
}
.small_text{
    /*color: rgb(135, 179, 216);*/
    font-size: 10px;
}
#footer{